<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider class="datos">
    <ion-label class="nombre">RUIZ CHILUISA ERICK ESTIVEN</ion-label> 
    <ion-label class="nombre">Tecnólogo en desarrollo de software</ion-label> 
</ion-item-divider> 

<ion-item-divider class="datos2">

    <ion-item-divider class="foto">
        <ion-img
        src="https://avatars.githubusercontent.com/u/117743844?v=4"
        alt="Foto de perfil"
        class="perfil"
        ></ion-img>
        <ion-label>
          26/6/2003
        </ion-label> 
    </ion-item-divider>

    <ion-label class="contacto">
      <p class="nombre">Información de contacto</p>
      <p class="color">096 311 3677</p>
      <p class="color">ruizerick2525gmail.com</p>
      <p class="color">Quito-Ecuador</p>
    </ion-label>
</ion-item-divider> 

<ion-item-divider class="datos3">

<p class="nombre">SOBRE MÍ </p>
<p class="sobre">Gran pasión por aprender
nuevos conocimientos
tecnológicos sobre todo en
animación, desarrollo de
software, diseño audiovisual
y softwares de edición.
Además, con una mentalidad
muy organizadora y de
autosuperación, siempre me
esfuerzo por conseguir los
objetivos planteados.
Mis capacidades son:
Adaptabilidad,
autoaprendizaje, investigador,
puntualidad, perseverante.</p>
</ion-item-divider> 

<ion-item-divider class="datos4">

<ion-label class="Idiomas">
  <p class="nombre">IDIOMAS</p>
  <p class="color">Español | Nativo</p>
  <p class="color">Ingles | Intermedio</p>
</ion-label>


  <ion-label class="pas">
    <p class="nombre">PASATIEMPOS</p>
    <p class="sobre2">En mis tiempos libres desarrollo
      cierta artes, como la música con
      guitarra, el dibujo y el origami,
      además de interesarme en la
      lectura de libros, comics, etc..</p>
  </ion-label>  
</ion-item-divider>
</ion-content>
